body, html {
    height: 100%;
}

.box-carregando {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 200px;
    width: 200px;

    margin: -100px 0 0 -100px;

    text-align: center;
}

.box-carregando p {
    margin-top: 20px;
}

#app-name {
  margin-left: 15px;
}

#main-container {
  padding-top: 2rem;
  padding-bottom: 4rem;

  min-height: calc(100% - 115px);
}

.btn-primary {
  background-color: #181616;
  border-color: #181616;
}

.page-link {
  color: #333;
}
