<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Buscar repositórios...">
      <div class="input-group-append">
        <button class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <git-repo-list [repos]="gitRepos">
    </git-repo-list>
  </div>
</div>
