<form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fas fa-search" [ngClass]="{ 'searching': searching }"></i>
        </span>
      </div>
      <input type="text"
             class="form-control"
             required
             name="formFilter"
             [(ngModel)]="formFilter"
             placeholder="Buscar repositórios..."
             #filter="ngModel"
             [disabled]="searching">
      <div class="input-group-append">
        <input type="submit" class="btn btn-primary" value="Pesquisar" [disabled]="searching" />
      </div>
    </div>
    <div *ngIf="filter.invalid && (filter.dirty || filter.touched)"
         class="alert alert-danger">
      <div *ngIf="filter.errors.required">
        Digite um filtro para a busca.
      </div>
    </div>
  </div>
</form>

<div class="row" *ngIf="gitReposPage">
  <nav class="col">
    <ul class="pagination">
      <li class="page-item" *ngIf="gitReposPage.number !== 1">
        <button class="page-link"
                (click)="loadPreviousPage()">
          Anterior
        </button>
      </li>
      <li class="page-item" *ngIf="!gitReposPage.isLast">
        <button class="page-link"
                (click)="loadNextPage()">
          Próxima
        </button>
      </li>
    </ul>
  </nav>
  <div class="col">
    <p class="text-right">
      {{gitReposPage.totalItems | number:'1.0-0':'pt'}} repositório(s) encontrado(s)
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <git-repo-list *ngIf="gitReposPage" [repos]="gitReposPage.items">
    </git-repo-list>
  </div>
</div>

<div class="row" *ngIf="gitReposPage">
  <nav class="col">
    <ul class="pagination">
      <li class="page-item" *ngIf="gitReposPage.number !== 1">
        <button class="page-link"
                (click)="loadPreviousPage()">
          Anterior
        </button>
      </li>
      <li class="page-item" *ngIf="!gitReposPage.isLast">
        <button class="page-link"
                (click)="loadNextPage()">
          Próxima
        </button>
      </li>
    </ul>
  </nav>
</div>
