<body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/github_logo.png" width="40" height="40" class="d-inline-block align-top" alt="GitHub Explorer Logo">
        <h1 id="app-name" class="navbar-brand">GitHub Explorer</h1>
      </a>
    </nav>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-light">
    <p>
      <small>Desenvolvido por André Victória Matias</small>
    </p>
    <p>
      Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </p>
  </footer>
</body>
