<body>
  <header>
    <nav class="navbar navbar-light bg-light navbar-fixed">
      <a class="navbar-brand" href="/">
        <img src="/github_logo.png" width="40" height="40" class="d-inline-block align-top" alt="GitHub Explorer Logo">
        <h1 id="app-name" class="navbar-brand">GitHub Explorer</h1>
      </a>
    </nav>
  </header>
  <div class="container" id="main-container">
    <router-outlet></router-outlet>
  </div>
  <footer class="bg-light">
    <div class="container">
      <div class="row">
        <p class="col-6">
          <small>Ícone da logo feito por <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> em <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></small>
        </p>
        <p class="col-6 text-right">
          <small>Desenvolvido por André Victória Matias</small>
        </p>
      </div>
    </div>
  </footer>
</body>
